
.container {
    display: inline-grid;
    grid-gap: 50px 100px;
    
}

.item {
    grid-column-start: auto;
    grid-column-end: auto;
    grid-row-start: auto;
    grid-row-end: auto;
}

.photo-grid {
    display: grid;
    /* flex-direction: row;
    flex-wrap: wrap; */
    /* grid-template-columns: 100px 50px 100px;
    grid-template-rows: 80px auto 80px; 
    grid-column-gap: 10px;
    grid-row-gap: 15px; */
}

footer {     
    background-color: #949090;
    color: white;
    /*padding: 20px;*/
    margin-bottom: 20px;
}

nav {
    background-color: rgba(255,255,255,.9);
    font-family: 'Quicksand', sans-serif;
}

.jumbotron {
    background-color: white;
    margin-bottom: 0px;
    height: 600px;
}

.container {
    margin-top: 36px;
    margin-bottom: 70px;
}

/* wraps header to give is some space (ex. for "our story" )*/
.header-wrapper {
    padding: 20px;
    margin-bottom: 36px;
}

.fa {
    padding: 10px;
    font-size: 35px;
    /*width: 65px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;  */
}

.fa-facebook {
    /* background: #3B5998; */
    color: white;
} 
.fa-instagram {
    /* background: #125688; */
    color: white;
}

.contact-primary {
    margin-top: 0px;
}
.contact-primary:before{
    content: "";
    display:block;
    height: 40px;
    background-size: auto 100%;
    /*background-color: lightblue;*/
    /*background: url(images/polka-dots.png); */
    background: url(images/small-dots.jpg);
    background-repeat: repeat-x;
}
.contact-primary:after{
    content: "";
    display:block;
    height: 40px;
    background-size: auto 100%;
    /*background-color: lightblue;*/
    /*background: url(images/polka-dots.png); */
    background: url(images/small-dots.jpg);
    background-repeat: repeat-x;
}

/* This is for the image headers */
.primary-header {
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center center;
    position: relative;
}

.lithos-header {
    height:80px; 
    width:600px;
    margin-bottom: 24px;
}

.color-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(245,245,245,.52);
    z-index: 99;
}

/* Wraps text inside the header/banners for sections */
.desc-wrapper {
    /* TODO: add animation later */
    z-index: 100;
    position: relative;
    width: 100%;
    max-width: 956px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 auto;
    /*padding: 32px; */
    padding-top: 100px;
    text-align: center;
    text-rendering: optimizeLegibility;
    font-family: 'Open Sans', sans-serif;
}

.text-wrapper {
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    font-size: large;
    padding-left: 30px;
}

.padding-wrapper {
    padding: 20px;
}